<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <li><a href="/user/trips/new">Add To Your List</a></li>

<h1>Your Profile</h1>
  <div>
    <table >
      <thead>
        <th>Name:</th>
        <th>Email:</th>
        <th>Hometown:</th>
      </thead>
      <tbody>
        
        <tr>
          <td><%= profile.name %></td>
          <td><%= profile.email %></td>
          <td><%= profile.hometown %></td>
          
        </tr>
      </tbody>
    </table>
  <h2>Your Bucket List</h2>
  <% if (trips.length) { %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Bucket List Date</th>
        </tr>
      </thead>
      <tbody>
        <% trips.forEach(function(t) { %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.location %></td>
          <td><%= t.eventDate %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>Needs Tickets</h5>
    <% } %>
</div>
</body>
</html>